################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Release/csReporter.csproj.CoreCompileInputs.cache
